/* Avoid angular tag display on page load */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
{
    display: none !important;
}

.align-cell
{
    margin: auto;
    padding: 10px;
    text-align: center;
}

.pointer
{
    cursor: pointer;
}

.thin
{
    height: 25px;
    width: 100%;
}