<!-- Navigateur -->

<html>
    <base href="/" />
    <head>
        <link rel='stylesheet' type='text/CSS' href='custom.scss'>
        <link rel='stylesheet' type='text/CSS' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    </head>

    <body ng-app="business">
        <div class="container">
            <div ng-controller="transcriptController">
                <div class="bg-primary mt-3 p-3 rounded-top row">
                    <div class="mx-auto">
                        <button class="btn-block" ng-click="getAllTranscripts(); showTranscripts = !showTranscripts">Consulter transcriptions</button>
                    </div>
                    <div class="mx-auto">
                        <button class="btn-block" ng-click="exportTranscripts()">Exporter transcriptions</button>
                    </div>
                    <div class="mx-auto" ng-controller="loginController">
                        <button class="btn-block" ng-click="logOut()">Déconnexion</button>
                    </div>
                </div>
                <div ng-show="showTranscripts == true">
                    <div class="bg-info mt-3 row text-light">
                            <div class="col text-center">Origine</div>
                            <div class="col text-center">Audio (input)</div>
                            <div class="col text-center">Texte (output)</div>
                            <div class="col text-center">Date/heure</div>
                            <div class="col text-center">Temps de traitement</div>
                    </div>
                    <div class="border row" ng-repeat="transcript in transcriptS.transcripts">
                        <div class="align-cell border-bottom col">{{transcript.origin}}</div>
                        <div class="align-cell border-bottom col"><audio class="thin" controls></audio></div>
                        <div class="align-cell border-bottom col">{{transcript.output}}</div>
                        <div class="align-cell border-bottom col">{{transcript.date}}</div>
                        <div class="align-cell border-bottom col">{{transcript.processTime}}</div>
                    </div>
                    <div class="row">
                        <div class="align-cell col">{{exportStatus}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts à charger (chargement page plus rapide si positionnement en bas de page) -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="/controllers/loginController.js"></script>
        <script src="/controllers/transcriptController.js"></script>
        <script src="/services/authService.js"></script>
        <script src="/services/transcriptService.js"></script>
        <script src="/business.js"></script>
    </body>
</html>